.half {

  @include bp(large) {
    width: 50%;
    float: left;
  }

  @include bp(large) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.full-height {
  min-height: 100vh;
}

section {
  padding: $step*.5;

  @include bp(large) {
    padding: $step;
  }

  &:not(.half) {
    clear: both;
  }
}


// split screen
@include bp(large) {

  section {
    margin-left: 50%;
    width: 50%;
  }
}

.section-0 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;

  background-image: url(/img/iphone-640.jpg);

  @include bp(medium) {
    background-image: url(/img/iphone-1000.jpg);
  }

  @include bp(large) {
    background-image: url(/img/iphone.jpg);
  }

  color: white;

  height: 100vh;
  margin-left: 0;

  @include bp(large) {
    position: fixed;
    top: 0;
    left: 0;
  }

  .hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 $step*.5;

    @include bp('small') {
      padding: 0 $step;
    }

    @include bp('medium') {
      padding: 0 $step*.5;
    }

    @include bp('large') {
      padding: 0 $step;
    }

    h1 {
      margin: 250px #{0 - $step*.5} 0;
      padding: $step*.5;
      font-size: $step*3;
      font-weight: 100;
      letter-spacing: 2rem;
      line-height: 1;
      // color: $blue;
      background-color: rgba(255, 255, 255, 0.5);

      @include bp(medium) {
        margin-top: 450px;
        font-size: $step*4;
      }
    }

    h1, p {
      position: relative;
      z-index: 3;
      text-align: center;
      hyphens: none;
    }

    p {

      @include bp(medium) {
        margin: 0 $step $step;
      }

      @include bp(large) {
        margin: 0 80px $step;
      }

      &:first-of-type {
        padding-top: $step*.5;
        // border-top: 1px solid white;
      }
    }
  }

}

.section-1 {

  @include bp(large) {
    padding-top: $step*6;
  }

  // position: relative;
  // z-index: 3;
  // box-shadow: 0 0 5px rgba(0,0,0,0.3);

  ul {
    text-align: center;
  }

  li {
    margin-bottom: $step*.5;
  }

  .slash {
    color: $blue;
  }
}

.news {
  min-height: 0;
  background-color: #f1efe6;

  h1, p {
    color: $text-color;
  }

  & > h1 {
    margin-top: 0;
    font-size: $step*2;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    color: $beige;

    @include bp(medium) {
      font-size: $step*4;
    }
  }

  ul h1 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    line-height: $step;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-align: left;
    color: #aa4444;
  }

  li {
    position: relative;
    padding: $step*.5;
    margin: $step*.5 #{0 - $step*.5};
    background-color: white;
    box-shadow: 0 0 2px #eee;
    overflow: hidden;

    @include bp(medium) {
      padding: $step;
      margin: $step 0;
    }
  }

  h2 {
    font-size: $step*.5;
    margin: 0;
    color: #aaa;
    line-height: $step*1.25;
    letter-spacing: 0;
  }

  p {
    font-weight: 500;
  }

  img, iframe {
    margin-left: 0 - $step*.5;
    margin-right: 0 - $step*.5;
    margin-bottom: $step;
    min-width: calc(100% + #{$step});
    height: auto;

    @include bp(medium) {
      margin-left: 0;
      margin-right: $step;
      min-width: auto;
      float: left;
    }
  }

  // ul {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  // li {
  //   flex: 0 1 33%;
  //   padding: 0 $step*1.5 $step*3;
  // }
}

.section-2 {
  position: relative;
  height: 300px;
  min-height: 300px;
  background-color: $blue;
  color: lighten($blue, 40%);
  overflow: hidden;

  & > p {
    font-weight: 100;
    position: relative;
    width: 140%;
    left: -20%;
    top: -20px;
    -webkit-filter: blur(1px);
  }

  .newsletter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 2;

    @include bp(medium) {
      width: auto;
    }


    color: white;

    h1 {
      text-align: left;
    }

    #mc_embed_signup {

      position: relative;

      .email {
        background-color: transparent;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid white;
        color: white;
        padding: $base*.5 0;

        &::-webkit-input-placeholder {
          color: rgba(255,255,255,0.5);
          font-weight: 100;
        }
        &:-moz-placeholder {
          color: rgba(255,255,255,0.5);
          &:focus {
            color: transparent;
          }
        }
        &::-moz-placeholder {
          color: rgba(255,255,255,0.5);
          &:focus {
            color: transparent;
          }
        }

        &:focus {
          &::-webkit-input-placeholder {
            color: transparent;
          }
        }
      }

      .button {
        position: absolute;
        top: $step*.25;
        right: 0;
        background: white;
        border: none;
        font-family: $sans-serif;
      }
    }
  }
}

.epk-album {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.lyrics {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $step*4;
  padding-bottom: $step*4;

  background-image: url(/img/lyrics-640.jpg);

  @include bp(medium) {
    background-image: url(/img/lyrics-1000.jpg);
  }

  @include bp(large) {
    background-image: url(/img/lyrics.jpg);
    padding-top: $step*8;
    padding-bottom: $step*8;
  }

  p {
    display: inline-block;
    background-color: #333;
    padding: 12px 24px;
    border-radius: 24px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;

    &:hover {
      background-color: $blue;
    }
  }

  .lyrics-link {
    position: relative;
    z-index: 2;
    color: white;
    // font-size: $step;
    text-transform: uppercase;

    &:hover, &:visited, &:active {
      background-color: $blue;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.section-3 {
  background-color: $dark-gray;
  position: relative;

  padding: $step*4 $step*2 0;

  box-shadow: 0 0 5px rgba(0,0,0,0.3);

  h1 {
    color: white;
    padding-top: $step*2;
    line-height: $step;
    letter-spacing: 12px;
  }

  h2 {
    padding: 0;
    margin: 0;
    line-height: $step;
    font-family: $sans-serif;
  }

  p {
    margin: 0;
    font-weight: 300;

    &:first-child {
      color: white;
    }
  }

  .video-container {
    @include shadow;
    position: relative;
    // width: 66%;
    // left: 16.666%;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    border: 5px solid white;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.and-i-know {
  position: relative;
  height: $step*8;
  padding: $step*2 0;
  margin: $step*2 0-$step*2 0;
  font-size: $base
}

.verse {
  position: absolute;
  top: $step;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s linear;

  .first-line {
    color: white;
  }
}

.verse__visible {
  opacity: 1;
}
