.not-found {

  .page-content {
    section:first-of-type {
      padding-top: $step*6;
      padding-bottom: $step*6;

      h1, h2 {
        text-align: left;
      }

      h1 {
        font-size: $step*2;
      }

      a {
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }

}