.about-us {

  .management {

    padding-bottom: 0;

    ul {
      @include clearfix;
      padding: 0;
      margin: 0;
      list-style: none;

      .management__founder-portrait {
        width: calc(100% + #{$step});
        margin-left: 0 - $step*.5;
      }

      li {
        h2, h3, p:nth-of-type(2) {
          margin: 0;
        }
        p:nth-of-type(2) {
          margin-bottom: $step;
        }
      }

      @include media-query('large') {
        width: 100vw;
        position: relative;
        left: calc(#{$page-width / 2} - 50vw);
        background-color: $light-color;

        @include bounce-transition(.5s, background-color);

        // boom!
        li {
          @include bounce-transition(.5s, transform);
          transform: scale3d(0,0,0);
        }
        &.in-viewport {
          background-color: black;

          li {
            transform: scale3d(1,1,1);
          }
        }


        li {
          position: relative;
          float: left;
          width: 50%;
          overflow: visible;

          .management__founder-portrait {
            position: relative;
            display: block;
            width: 50vw;
            margin: 0;
          }

          p {
            margin: 0;
          }

          p, h2, h3, img {
            transition: opacity .2s ease-in-out;
          }

          h2, h3, p:nth-of-type(2) {
            position: absolute;
            opacity: 0;
            margin: 0 $step*.5;
            -webkit-font-smoothing: antialiased;
          }

          h2 {
            top: $step*.5;
            color: $paler-color;
          }
          h3 {
            top: $step*2;
            color: $muted-color;
          }
          p:nth-of-type(2) {
            top: $step*3;
            color: $paler-color;
          }

          &:hover {

            img {
              opacity: 0.3;
            }

            h2, h3, p {
              opacity: 1;
            }
          }
        }
      }

      @include media-query('huge') {
        left: calc(#{$huge-page-width / 2} - 50vw);

        li {

          h2, h3, p:nth-of-type(2) {
            margin: 0 $step*2;
          }

          h2 {
            top: $step*2;
            color: $paler-color;
          }
          h3 {
            top: $step*4;
            color: $muted-color;
          }
          p:nth-of-type(2) {
            top: $step*5;
            color: $paler-color;
          }


          // p:nth-of-type(2) {
          //   top: auto;
          //   bottom: $step*2;
          //   left: calc(50vw - #{$huge-page-width / 2});
          //   right: $step;
          // }

          // &:nth-of-type(2n) p:nth-of-type(2) {
          //   left: $step;
          //   right: calc(50vw - #{$huge-page-width / 2});
          // }
        }
      }
    }
  }

  .investors, .advisory {

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      li {
        flex: 1;
        position: relative;
        width: 50%;
        padding-right: $step;

        h2, h3, p {
          padding-left: 35%;
          margin-top: 0;
        }
        p:first-of-type {
          position: absolute;
          width: 30%;
          padding: 0;
        }
      }
    }
  }

  .advisory {
    ul li {
      h2 {
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: $step;
      }
    }
  }

}

