.block-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: auto;
    margin: 0 0 $step;
    background: white;
    padding: $step*.5;
    border: 1px solid $pale-color;
    border-radius: 3px;

    @include media-query('medium') {
      margin-right: $step;
      width: calc(50% - #{$step});
    }

    @include media-query('large') {
      width: calc(25% - #{$step});
    }
  }

  h2 {
    height: $step*2;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

    &#etailment {
      background-image: url('/img/etailment.png');
    }

    &#content-driven-e-commerce {
      background-image: url('/img/content-driven-e-commerce.png');
    }

    &#marmalade {
      background-image: url('/img/marmalade.png');
    }

    &#dimitri-gatowski {
      background-image: url('/img/dimitri-gatowski.png');
    }

    &#votum {
      background-image: url('/img/votum.png');
    }

    &#commerce-plus {
      background-image: url('/img/commerce-plus.png');
    }

    &#cgisymmetrics {
      background-image: url('/img/cgisymmetrics.png');
    }
  }


  p {
    font-weight: 400;
  }

  a {
    text-transform: uppercase;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}