.faq {

  .faq__search-box {
    width: 100%;
    padding: $step*.5;
    padding-left: $step*2;
    font-size: $step*.75;
    font-weight: 300;
    border-radius: $step*.5;
    border: 1px solid $paler-color;
    outline-width: 0;
    background: white url('/img/magnifier.svg') no-repeat $step*.5;
    background-size: $step;

    &::-webkit-input-placeholder {
      padding-top: 3px;
    }

    @include media-query('medium') {
      top: 0;
      margin: $step*2 0;
      padding-left: $step*3;
      font-size: $step;
      border-radius: $step;
      background-position: $step;

      &::-webkit-input-placeholder {
        padding-top: 8px;
      }
    }
  }

  h2 {
    font-size: $body-font-size;
    font-weight: 500;
    margin-bottom: 0;
  }

  .faq-contact {
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

span.highlight {
  background-color: white;
  display: inline-block;
  border-radius: 6px;
  padding: 3px 3px 0;
  margin: -3px -3px 0;
  @include bounce-transition(1.5s, background-color);

  dt &, dt.active + dd & {
    background-color: hsl(50,94%,87%);
  }
}
