.wrapper {
  @include clearfix();
  @include media-query('small') {
    max-width: 600px;
    margin: 0 auto;

    header &, footer & {
      max-width: none;
      margin: $step*.5 $step;
    }
  }
  @include media-query('medium') {
    &, header &, footer & {
      max-width: none;
      margin: 0;
    }
  }
  @include media-query('large') {
    &, header &, footer & {
      width: $page-width;
      margin: 0 auto;
    }
  }
  @include media-query('huge') {
    &, header &, footer & {
      width: $huge-page-width;
    }
  }
}

.main-header, .content, .main-footer {
  padding: $step / 2;
  @include media-query('medium') {
    padding: $step;
  }
  @include media-query('large') {
    padding: $step 0;
  }
}

// heading alignment
.page-content {
  .index & > section:first-of-type {
    h1, h2 {
      text-align: left;
    }
  }

  @include media-query('medium') {
    .product.index & > section:first-of-type,
    .partner.index & > section:first-of-type,
    .development.index & > section:first-of-type {
      h1 {
        width: 60%;
      }

      h2 {
        width: 80%;
      }
    }
  }
}


.page-content {

  // make space for the nav
  margin-top: 78px;

  @include media-query('small') {
    margin-top: 97px;
  }

  @include media-query('medium') {
    margin-top: 91px;
  }

  @include media-query('large') {
    margin-top: 105px;
  }

  // section padding
  section {
    padding: $step $step*.5;

    @include media-query('medium') {
      padding: $step*2 $step*.5;
    }
    @include media-query('large') {
      padding: $step*3 0;
    }
  }

  // section colouring
  section:nth-of-type(2n) {
    background-color: $pale-color;
  }

  .index:not(.product):not(.development) &, .impressum & {
    section:nth-of-type(2n) {
      background-color: $pale-color;
    }
  }
}

// most sections are alternating left/right floats with images
// except for the first block, on every page except the homepage
.text-right {
  @include block-text-image(right, $pale-color);
}

.text-left {
  @include block-text-image(left, $light-color);
}

.homepage, .homepage ~ .text-left {
  @include block-text-image(left, $light-color, small);
}

.homepage ~ .text-right {
  @include block-text-image(right, $pale-color, small);
}


