body {
	color: $text-color;
	background-color: $beige;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

h1, .h1 {
	font-size: $step;
	line-height: $step;
}

h2, .h2 {
	font-size: $step*.75;
	line-height: $step;
}

h3, .h3 {
	font-size: $step*.5;
	line-height: $step;
}

