  <div class="video-container">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/jAUArgTA-08?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="and-i-know">
  <div class="verse verse__visible">
  <p>AND i KNOW</p>
  <p>THAT THERE ARE THiNGS</p>
  <p>YOU DON’T WANT ME</p>
  <p>TO KNOW</p>
  </div>
  <div class="verse">
  <p>AND i KNOW</p>
  <p>(AT LEAST i THiNK)</p>
  <p>THAT YOU’LL MiSS ME</p>
  <p>WHEN i GO</p>
  </div>
  <div class="verse">
  <p>AND i KNOW</p>
  <p>EVERYTHiNG</p>
  <p>THAT THERE iS</p>
  <p>TO KNOW</p>
  </div>
  <div class="verse">
  <p>ABOUT THE LOOK</p>
  <p>THAT YOU GiVE ME</p>
  <p>WHEN i TELL YOU</p>
  <p>THAT i DON’T KNOW</p>
  </div>
  <div class="verse">
  <p>AND i KNOW</p>
  <p>THAT JUST KNOWiNG</p>
  <p>DON’T MEAN A THiNG</p>
  <p>BUT EVEN SO...</p>
  </div>
  <div class="verse">
  <p>AT LEAST i KNOW</p>
  </div>
  </div>
