<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

  <div id="inner-footer" class="wrap cf">

    <ul class="social">
      <li class="social-site">
        <a href="https://www.facebook.com/vert.music" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://twitter.com/adamvert" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://soundcloud.com/vert" class="social-link">
          <i class="fa fa-soundcloud"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://open.spotify.com/artist/1DktaVImdwFPjN3gfAfULx" class="social-link">
          <i class="fa fa-spotify"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/audiojs/audio.js"></script>
<script>
  $(function() {
    // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function() {
        var next = $('ol li.playing').next();
        if (!next.length) next = $('ol li').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load($('a', next).attr('data-src'));
        audio.play();
      }
    });

    // Load in the first track
    var audio = a[0];
        first = $('ol a').attr('data-src');
    $('ol li').first().addClass('playing');
    audio.load(first);

    // Load in a track on click
    $('ol li').click(function(e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($('a', this).attr('data-src'));
      audio.play();
    });
    // Keyboard shortcuts
    $(document).keydown(function(e) {
      var unicode = e.charCode ? e.charCode : e.keyCode;
         // right arrow
      if (unicode == 39) {
        var next = $('li.playing').next();
        if (!next.length) next = $('ol li').first();
        next.click();
        // back arrow
      } else if (unicode == 37) {
        var prev = $('li.playing').prev();
        if (!prev.length) prev = $('ol li').last();
        prev.click();
        // spacebar
      } else if (unicode == 32) {
        audio.playPause();
      }
    })
  });
</script>
<!-- build:js({.tmp,app}) /js/vert.js -->
  <script src="/js/vert.js"></script>
<!-- endbuild -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73212014-1', 'auto');
  ga('send', 'pageview');

</script>
