<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

  <div id="inner-footer" class="wrap cf">

    <ul class="social">
      <li class="social-site">
        <a href="https://www.facebook.com/vert.music" class="social-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://twitter.com/adamvert" class="social-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://soundcloud.com/vert" class="social-link">
          <i class="fa fa-soundcloud"></i>
        </a>
      </li>
      <li class="social-site">
        <a href="https://open.spotify.com/artist/1DktaVImdwFPjN3gfAfULx" class="social-link">
          <i class="fa fa-spotify"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>

  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- build:js({.tmp,app}) /js/spryker.js -->
  <script src="/js/spryker.js"></script>
<!-- endbuild -->

