<header class="main-header">
  <ul class="header__social">
    <li class="social-site">
      <a href="https://www.facebook.com/vert.music" class="social-link">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="social-site">
      <a href="https://twitter.com/adamvert" class="social-link">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="social-site">
      <a href="https://soundcloud.com/vert" class="social-link">
        <i class="fa fa-soundcloud"></i>
      </a>
    </li>
    <li class="social-site">
      <a href="https://open.spotify.com/artist/1DktaVImdwFPjN3gfAfULx" class="social-link">
        <i class="fa fa-spotify"></i>
      </a>
    </li>
  </ul>
</header>
