<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html title=page.title %}

    <div class="wrapper">
      <div class="lede">
        {% if page.title %}
          <h1 class="main-header__title">{{ page.title }}</h1>
        {% endif %}
        {% if page.subtitle %}
          <h2 class="main-header__subtitle">{{ page.subtitle }}</h2>
        {% endif %}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
